@import url("./VARIABLES.css");

.teams-gallery {
  --hexCalculation: 1.1547;
  --heigth: calc(var(--hexWidth) * var(--hexCalculation));
  --f: calc(1.732 * var(--hexWidth) + 2 * var(--hexMargin) - 1px);

  .grid-container {
    display: grid;
    grid-template-columns: 84px min-content 84px;
    grid-template-rows: auto 88px 1fr;
    width: fit-content;
    margin: 0 auto;

    &:before,
    &:after {
      grid-row: 3;
      width: 100%;
      height: calc(100% - 16px);
      content: "";
      border-top: 8px solid var(--clr-grey-medium);
      border-bottom: 8px solid var(--clr-grey-medium);
      background: linear-gradient(var(--clr-grey-medium), black 3%);
    }

    &:before {
      grid-column: 1;
    }

    &:after {
      grid-column: 3;
    }

    .headline {
      grid-column: 2;
      font-size: 3rem;
      line-height: 1.75;
      font-family: var(--fts-headline);
      width: fit-content;
      margin: 0 auto;
      background-image: linear-gradient(90deg, var(--clr-primary), var(--clr-secondary));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(2px 2px black);
    }

    .controls-hex {
      cursor: pointer;
      grid-row: 2;

      &:hover {
        .controls-hex-wrapper {
          background-color: var(--clr-secondary);
        }
      }

      &-wrapper {
        background-color: var(--clr-primary);
        width: 50px;
        height: 60px;
        margin: 0 auto;
        padding: 3px;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      }

      &-button {
        width: 100%;
        height: 100%;
        color: var(--clr-primary);
        background-color: var(--clr-deco-dark);
        border: none;

        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

        p {
          margin: 0;
          font-size: 2.5rem;
          user-select: none;
          color: var(--clr-grey-light);
          user-select: none;
        }
      }
    }
  }

  &-frame-1 {
    grid-column: 2;
    grid-row: 2 / -1;
    font-size: 5rem;
    background-color: var(--clr-grey-medium);
  }

  &-frame-2 {
    background-color: var(--clr-grey-dark);
  }

  &-frame-3 {
    display: flex;
    padding-top: 0.5rem;
    background-color: var(--clr-grey-medium);
    background-image: linear-gradient(
      var(--clr-grey-medium) calc(var(--hexMargin) / 40),
      red,
      var(--clr-grey-light),
      var(--clr-grey-medium)
    );
  }
}

.hexfield {
  box-sizing: border-box;
  font-size: 0;
  background-color: var(--clr-deco-dark);
  background-image: linear-gradient(
    to right,
    rgb(12, 12, 12),
    rgba(12, 12, 12, 0) 5%,
    rgba(12, 12, 12, 0) 95%,
    rgba(12, 12, 12, 1)
  );
  margin: 0 auto;

  &-spinner {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto;

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      margin-top: 6rem;
      border-radius: 50%;
      border: 12px solid var(--clr-primary);
      border-color: var(--clr-primary) transparent var(--clr-secondary) transparent;
      animation: Spinner 1.2s linear infinite;
    }
  }

  @keyframes Spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.hexfield::before {
  content: "";
  width: calc(var(--hexWidth) / 2 + var(--hexMargin));
  float: left;
  height: 100%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
  /* background-image: repeating-linear-gradient(#f60000 0 calc(var(--f) - 3px), #00ff04 0 var(--f)); */
  z-index: 100000;
}

.hexagon-wrap {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0px 0px var(--glowIntensity));
  color: transparent;
  margin: var(--hexMargin);
  margin-bottom: calc(var(--hexMargin) - var(--hexWidth) * 0.2886);
  z-index: 1;
  transform: rotate3d(1, 1, 0, 90deg);

  transition: z-index, color 1s ease;
  animation: 0.85s ease-out forwards rotateHex;

  &-teamname {
    width: max-content;
    max-width: 0;

    padding: 0.125rem 0;
    top: 80%;
    left: -22.5%;
    z-index: 10000;
    font-size: calc((var(--hexWidth) + (2 * var(--hexMargin))) / 6);
    font-family: var(--fts-text);
    color: transparent;
    background-color: rgba(69, 69, 69, 0.88);

    overflow: visible;
    position: absolute;
    white-space: nowrap;

    transform: skew(-10deg);
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
  }

  &:hover {
    z-index: 9000;

    .hexagon-wrap-teamname {
      padding: 0 0.5rem;
      max-width: 300%;
      color: var(--clr-secondary);

      transition: max-width 0.5s ease-in, color 0.5s ease-in, padding 0.25s ease-in;
      transition-delay: 0.175s;
    }
  }
}

@keyframes rotateHex {
  to {
    transform: rotate3d(1, 0, 0, 0deg);
  }
}

.hexagon {
  width: var(--hexWidth);
  height: var(--heigth);
  background-color: var(--clr-deco-medium);
  background-size: cover;
  background-position: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  filter: grayscale(100);

  transform: scale(1);
  transition: transform 2s ease-in-out;
  transition-delay: 0.5s;

  &:hover {
    background-size: 118%;
    filter: grayscale(0);
    transform: scale(var(--hoverScale));

    transition: filter 0.5s ease-in, transform 0.33s ease-in-out;
  }
}

.hexagon:hover:after {
  content: "";
  position: absolute;
  top: -30%;
  right: -200%;
  width: 50%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  animation: shine 1.75s 0.33s;
}

@keyframes shine {
  to {
    opacity: 1;
    right: 210%;
  }
}
