:root {
  /*
  /*
  /*
  /* COLORS */
  --clr-primary: #3cbdf7;
  --clr-secondary: #db1428;
  --clr-tertiary: #0d043d;

  --clr-deco-dark: #0d1b2a;
  --clr-deco-medium: #1b263b;
  --clr-deco-light: #89a1be;

  --clr-grey-light: #eeeeee;
  --clr-grey-medium: #868686;
  --clr-grey-dark: #353535;

  /*
  /*
  /*
  /* FONTS */
  --fts-headline: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  --fts-text: "Saira Extra Condensed", sans-serif;

  /*
  /*
  /*
  /* HEXAGONS */
  --hexWidth: 184px;
  --hexMargin: 8px;
  --hoverScale: 1.5;
  --glowIntensity: 20px;
}
